<!-- form-price -->
<div class="uk-container-expand">
	<div class="uk-width-1-2">
		<P class="uk-text-right">Скачайте полный прайс - Лист</P>
	</div>
</div>

<div class="uk-container">
	<div uk-grid>
		<div class="uk-width-1-2">
			<h3 class="uk-h3">Заполните форму</h3>
			<div class="" uk-grid>
				<div><span class="icon icon-mail"></span></div>
				<div><p>Оставьте свои контактные данные и на указанный e-mail мы отправим фаил с полным прайс-листом</p>
				</div>
			</div>


			<form action="/" method="GET">
			    <fieldset class="uk-fieldset">

				    <input class="uk-input" type="text" placeholder="Введите Ваше имя">
				    <input class="uk-input" type="text" placeholder="Введите номер телефона">
				    <input class="uk-input" type="text" placeholder="Введите Ваш e-mail">
				    <button type="submit" class="uk-button">Получить прайс - лист &nbsp; <span uk-icon="icon: arrow-right"></span></button>

			    </fieldset>
			</form>
			
		</div>
		<div class="uk-width-1-2">
			<img src="__static__img/general/girl_form.jpg" alt="Img"/>
		</div>
	</div>
</div>
<!-- / form-price -->
