/* form-price */

.form-price{
	.form_container{
		padding-right: 70px;
		.legend{
			font-size: 14px;
			padding-bottom: 20px;
		}
		form{
			.uk-button{
				width: 100%;
				max-width: 100%;				
			}

		}		
	}

	

}













