<!--   reviews -->
<div class="uk-container-expand">
	<div class="uk-child-width-1-2" uk-grid>
		<div class="uk-width-1-1 uk-width-2-5@m">
			<h2 class="uk-h2 billet uk-text-center uk-text-right@m">Отзывы о нас</h2>
		</div>
	</div>
</div>

<div class="uk-container reviews__blocks">
	<div class="uk-child-width-1-3" uk-grid>
		<div>
			<div class="uk-card uk-card-default reviews__block">
			    <div class="uk-card-header">
			        <img src="__static__img/general/rew_1.png" alt="Img">
			    </div>
			    <div class="uk-card-body">
			    	<p>Когда мы познакомились с командой Trends Brands случилась любовь! И мы сразу поняли что хотим быть частью этой классной команды и представлять этот бренд в нашем городе. Приятно предлагать людям нашего города моду и качество! Спасибо ребятам из Trends Brands за поддержку 24/7</p>
			    </div>
			    <div class="uk-card-footer">
			    	<p>Светлана и Антон Горбуновы,<br /> 
					г. Томск, ТЦ Изумрудный город</p>
			    </div>				
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default reviews__block">
			    <div class="uk-card-header">
			        <img src="__static__img/general/rew_2.png" alt="Img">
			    </div>
			    <div class="uk-card-body">
			    	<p>Когда мы познакомились с командой Trends Brands случилась любовь! И мы сразу поняли что хотим быть частью этой классной команды и представлять этот бренд в нашем городе. Приятно предлагать людям нашего города моду и качество! Спасибо ребятам из Trends Brands за поддержку 24/7</p>
			    </div>
			    <div class="uk-card-footer">
			    	<p>Светлана и Антон Горбуновы,<br /> 
					г. Томск, ТЦ Изумрудный город</p>
			    </div>					
			</div>
		</div>
		<div>
			<div class="uk-card uk-card-default reviews__block">
			    <div class="uk-card-header">
			        <img src="__static__img/general/rew_3.png" alt="Img">
			    </div>
			    <div class="uk-card-body">
			    	<p>Когда мы познакомились с командой Trends Brands случилась любовь! И мы сразу поняли что хотим быть частью этой классной команды и представлять этот бренд в нашем городе. Приятно предлагать людям нашего города моду и качество! Спасибо ребятам из Trends Brands за поддержку 24/7</p>
			    </div>
			    <div class="uk-card-footer">
			    	<p>Светлана и Антон Горбуновы,<br /> 
					г. Томск, ТЦ Изумрудный город</p>
			    </div>					
			</div>
		</div>
	</div>
</div>
<!--  / reviews -->
