<!--header -->

<div class="uk-container">
	<div uk-grid>

		<div class="uk-width-auto"><img class="logo" src="__static__img/general/logo.png" alt="Logo" /></div>
		<div class="uk-width-expand">

			<p class="topinfo"><span>+7 (499) 110-60-05</span><span>opt@tbff.ru</span><a class="uk-float-right" href="#">Заказать обратный звонок</a></p>
			<nav class="topnav uk-clearfix">

			    <ul class="">
			        <li class="uk-active"><a href="#">О нас</a></li>
			        <li><a href="#">Коллекции</a></li>
			        <li><a href="#">Условия работы</a></li>
			        <li><a href="#">Доставка</a></li>
			        <li><a href="#">Пресса</a></li>
			        <li><a href="#">Отзывы</a></li>
			        <li><a href="#">Контакты </a></li>
			    </ul>

			</nav>
		</div>

	</div>
</div>

<!-- /header -->


