<!-- users -->
<div class="uk-container-expand">
	<div class="uk-child-width-1-2" uk-grid>
		<div class="uk-width-1-1 uk-width-2-5@m">
			<h2 class="uk-h2 billet uk-text-center uk-text-right@m">наша Аудитория</h2>
		</div>
		<div class="uk-width-1-1 uk-width-3-5@m uk-text-center">
			<p class="subbillet">И охват В социальных сетях <span uk-icon="icon: arrow-down; ratio: 2.5"></span></p>			
		</div>
	</div>
</div>

<div class="uk-container">
	<div class="users__img_block">
		<p class="users__img_block__header uk-text-center">В Вашем городе уже есть наши покупатели, которые ждут появление <br />
любимой марки в розничных магазинах.</p>

		<div class="uk-text-center" uk-grid>
			<div class="uk-width-1-2">
				<div class="uk-card">
					<div class="uk-card-header uline">Возраст</div>
					<img src="__static__img/general/graf_age.png" alt="Img" />
				</div>
			</div>
			<div class="uk-width-1-2">
				<div class="uk-card">
					<div class="uk-card-header uline">Род деятельности</div>
					<img src="__static__img/general/graf_activity.png" alt="Img" />
				</div>
			</div>

			<div class="uk-width-1-4 social">
				<div class="uk-card-header social__header">
					> 61 000
				</div>
				<div class="uk-card-body social__body">
					<p>отметок «нравится» 
						на странице</p>
				</div>
				<div class="uk-card-footer social__icon">
					<a href="#"><span class="icon icon--fb"></span></a>
				</div>
			</div>
			<div class="uk-width-1-4">
				<div class="uk-card-header social__header">
					> 41 800
				</div>
				<div class="uk-card-body social__body">
					<p>подписчиков
						в Вконтакте</p>
				</div>
				<div class="uk-card-footer">
					<a href="#"><span class="icon icon--vk"></span></a>
				</div>
			</div>
			<div class="uk-width-1-4">
				<div class="uk-card-header social__header">
					> 30 000
				</div>
				<div class="uk-card-body social__body">
					<p>подписчиков <br />
						в Instagram</p>
				</div>
				<div class="uk-card-footer">
					<a href="#"><span class="icon icon--insta"></span></a>
				</div>
			</div>
			<div class="uk-width-1-4">
				<div class="uk-card-header social__header">
					> 100 000
				</div>
				<div class="uk-card-body social__body">
					<p>подписчиков E-mail рассылки</p>
				</div>
				<div class="uk-card-footer">
					<a href="#"><span class="icon icon--gmail"></span></a>
				</div>
			</div>
		</div>
	</div>	
</div>
<!--  / users -->
