<!-- contacts -->
<div class="uk-container-expand">
	<div uk-grid>
		<div class="uk-width-expand"></div>
		<di  v class="uk-width-3-5">

			<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin contacts__block" uk-grid>
				<div class="uk-width-auto">
					<p class="contacts__img"><img src="__static__img/general/girl_contacts.jpg" alt="Img" /></p>
					
					<p class="contacts__name">Соловьева Надежда
						</p>
					<p class="contacts__prof">менеджер по оптовым продажам</p>
				</div>
				<div class="uk-width-expand">
					<h3 class="uk-h3">Наши контакты</h3>
					<p class="contacts__addr">
						Адрес: <br /> 
						117303, г. Москва, <br /> 
						ул. Малая Юшуньская, д.1, к.1, офис 311
					</p>
					<p class="contacts__time">Время работы: Пн-Пт с 10.00 до 22.00</p>
					<p class="contacts__phone">Телефон: +7 (499) 110-60-05</p>
					<p class="contacts__mail">Почта: opt@tbff.ru</p>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- / contacts -->



