<!-- description -->
<div class="uk-container">
	
	<p class="description__desc">Trends Brands – это российская мультибрендовая сеть магазинов одежды,<br>а так же собственные линии женской одежды Trends Brands Base и Trends Brands</p> 

	<div class="uk-grid-large blocks"  uk-grid>
		<div class="uk-width-expand uk-visible@m"></div>
		<div class="uk-width-1-1@s uk-width-auto@m block">
			<span class="icon icon--b12"></span>
			<!--span class="blocks__header uk-border-circle">12</span-->	
	    		<p>Коллекций <br>
	    		T&B Base в год</p>		
		</div>
		<div class="uk-width-1-1@s uk-width-auto@m block">
			<span class="icon icon--b60"></span>
			<!--span class="blocks__header uk-border-circle">60</span-->
	    		<p>Новых моделей в месяц, <br>
	    		ограниченный тираж</p>						
		</div>
		<div class="uk-width-1-1@s uk-width-auto@m block">
			<span class="icon icon--b90"></span>
			<!--span class="blocks__header uk-border-circle">90</span-->	
	    		<p>Средний % реализации <br>
				в конце сезона</p>				
		</div>
		<div class="uk-width-expand uk-visible@m"></div>
	</div>

	<div class="uk-grid-small uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
		<div><img src="__static__img/general/girl_1.jpg"></div>
		<div><img src="__static__img/general/girl_2.jpg"></div>
		<div><img src="__static__img/general/girl_3.jpg"></div>
		<div><img src="__static__img/general/girl_4.jpg"></div>
	</div>

</div>
<!-- / description -->















