<!-- request -->
<div class="uk-container">
	<div uk-grid>
		<div class="uk-width-1-2">
			<h3 class="uk-h3">Остались вопросы? 
				<br />Наш менеджер с вами свяжется!</h3>
			<div class="request__desc" uk-grid>
				<div class="uk-width-auto"><span class="icon icon--phone"></span></div>
				<div class="uk-width-expand"><p>Оставьте свои контактные данные 
						и мы перезвони Вам в ближайшее время</p>
				</div>
			</div>


			<form action="/" method="GET">
			    <fieldset class="uk-fieldset">

				    <input class="uk-input" type="text" placeholder="Введите Ваше имя">
				    <input class="uk-input" type="text" placeholder="Введите Ваш номер телефона">
				    <button type="submit" class="uk-button uk-button-primary uk-button-large">Отправить заявку &nbsp; <span uk-icon="icon: arrow-right"></span></button>

			    </fieldset>
			</form>
			
		</div>
		<div class="uk-width-1-2 request__img_block">
			<img class="uk-responsive-width" src="__static__img/general/girl_form_2.jpg" alt="Img"/>
		</div>
	</div>
</div>

<!--  / request -->
