<!-- terms -->
<div class="uk-container">
	<h2 class="uk-h2">Условия работы</h2>
	<div class="uk-child-width-1-2" uk-grid>
		<div>
			<div uk-grig>
				<div class="uk-width-auto@m"><span class="icon icon--">Icon</span></div>
				<div class="uk-width-expand"><p>Мы принимаем заказы от 30 ед. Вы сможете оперативно подсортировывать популярные
					модели со свободного склада</p>
				</div>
			</div>			
		</div>
		<div>
			<div uk-grig>
				<div class="uk-width-auto@m"><span class="icon icon--">Icon</span></div>
				<div class="uk-width-expand"><p>Рекомендуемый коэффициент наценки от 2 до 3. Наши коллекции обеспечат Вам высокую доходность</p>
				</div>
			</div>				
		</div>
		<div>
			<div uk-grig>
				<div class="uk-width-auto@m"><span class="icon icon--">Icon</span></div>
				<div class="uk-width-expand"><p>У нас большой опыт в ритейле, мы знаем все о сезонности и ассортименте, чтобы обеспечить хорошие продажи и 90% реализации наших коллекций за сезон</p>
				</div>
			</div>				
		</div>
		<div>
			<div uk-grig>
				<div class="uk-width-auto@m"><span class="icon icon--">Icon</span></div>
				<div class="uk-width-expand"><p>Мы бесплатно доставим Ваш заказ до терминала транспортной компании, чтобы новинки оперативно поступали в Ваш магазин</p>
				</div>
			</div>				
		</div>

	</div>
</div>

<!-- / terms -->
