
/* collection */
.collection{
	&__desc{
		line-height: 1.2;
		padding-top: 50px;
		padding-bottom: 50px;


	}	
	.uk-slider-items{
		img{
			width: 100%;
		}
	}
	.seasons_out{
		padding-left: 100px;
	}	
	.seasons{
	    position: relative;
	    top: 40%;
	    display: table;
	    width: 100%;
	    *{
	    	font-family: $Intro;
			font-size: 20px;
			font-weight: 900;	    	
	    }
		li{
			list-style-type: none;
			display: table-cell;
			// *{
			// 	color: black;
			// }
			a{
				font-weight: 900;
			}
			span{

			}
			&.uk-active{
				span{
					color: $Yellow;
				}
			}			
		}

	}	
}